<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parker.admin.dao.DeliveryDao">
	<select id="deliveryList" resultType="com.parker.admin.vo.DeliveryVO"
		parameterType="com.parker.admin.vo.DeliveryVO">
		select *
		from(
		select
		list.buy_image,
		list.buy_product,
		list.buy_price,
		list.buy_number,
		list.buy_quantity,
		list.buy_day,
		list.user_number,
		list.user_name,
		list.user_id,
		list.buy_address,
		list.buy_status,
		list.product_number,
		rownum
		as
		rnum
		from(
		select
		b.buy_image,
		b.buy_product,
		b.buy_price,
		b.buy_number,
		b.buy_quantity,
		b.buy_day,b.buy_address,
		b.buy_status,
		b.product_number,
		u.user_number,
		u.user_name,
		u.user_id
		from
		buy_tb b, users_tb u,
		products_tb p
		where
		u.user_number=
		b.user_number
		and
		p.product_number =
		b.product_number
		<if test="search=='user_name'">
			and (user_name Like '%'||#{keyword}||'%')
		</if>
		<if test="delivery == '배송중'">
			and buy_status = '배송중'
		</if>
		<if test="delivery == '배송전'">
			and buy_status = '배송전'
		</if>
		<if test="delivery == '배송완료'">
			and buy_status = '배송완료'
		</if>
		<if test="delivery == '전체'">
			and buy_status = buy_status
		</if>
		order by
		b.buy_number
		)list
		)
		where rnum between #{start_row} and
		#{end_row}
	</select>
	<select id="deliveryDetail" resultType="com.parker.admin.vo.DeliveryVO">
		select * from buy_tb
		where buy_number = #{delivery_number}
	</select>
	<select id="deliveryListCnt" parameterType="com.parker.admin.vo.DeliveryVO"
		resultType="int">
		select
		nvl(count(1),0)
		from
		(select
		list.buy_image,
		list.buy_product, list.buy_price, list.buy_number,
		list.buy_quantity,
		list.buy_day, list.user_number,list.user_id, rownum as rnum
		from(
		select
		b.buy_image, b.buy_product, b.buy_price, b.buy_number,
		b.buy_quantity, b.buy_day, u.user_number, u.user_id
		from
		buy_tb b,
		users_tb u, products_tb p
		where
		u.user_number= b.user_number and
		p.product_number = b.product_number
		order by b.buy_number
		)list
		)
	</select>
	<delete id="deliveryDelete">
		delete from buy_tb where
		buy_number =
		#{buynumber} and
		buy_status = '취소'

	</delete>

	<update id="deliveryupdate">
		UPDATE buy_tb SET
		buy_status = '배송중'
		where
		buy_number=#{buynumber} and buy_status = '배송전'
	</update>




</mapper>

