<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parker.admin.dao.UserBoardDao">

	<select id="userBoardList" parameterType="com.parker.admin.vo.UserBoardVO"
		resultType="com.parker.admin.vo.UserBoardVO">
		select *
		from(
		select list.*, rownum as rnum
		from ( select *
		from userboard_tb
		where userboard_status2 = 'Y'
		)list
		)
		where
		rnum between
		#{start_row} and #{end_row}
	</select>
	<select id="userBoardListCnt" resultType="int"
		parameterType="com.parker.admin.vo.UserBoardVO">
		select
		nvl(count(1),0)
		from
		(select
		list.*
		from(
		select * from
		userboard_tb
		where userboard_status2 = 'Y'
		)list
		)
	</select>

	<select id="userBoardDetail" resultType="com.parker.admin.vo.UserBoardVO">
		SELECT
		userboard_number,
		userboard_content,
		userboard_title,
		userboard_image,
		to_char(userboard_writedate,'YYYY-mm-DD') userboard_writedate,
		userboard_number,
		user_number,
		userboard_status
		FROM userboard_tb
		where
		userboard_number =
		#{userboard_number}

	</select>
	<select id="userBoardReply" resultType="com.parker.admin.vo.UserBoardReplyVO">
		select * from
		userboard_tb
		where user_number =
		#{user_number}
	</select>
	<update id="userBoardDelete">
		update userboard_tb set
		userboard_status2='N'
		userboard_number= #{userboard_number}
	</update>
</mapper>
