<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.parker.admin.dao.UserBoardDao">

	<select id="userBoardList" parameterType="com.parker.admin.vo.UserBoardVO"
		resultType="com.parker.admin.vo.UserBoardVO">
		select *
		from(
		select list.*, rownum as rnum
		from ( select *
		from userboard_tb )list
		)
		where
		rnum between #{start_row} and #{end_row}
	</select>
	<select id="userBoardListCnt" resultType="int"
		parameterType="com.parker.admin.vo.UserBoardVO">
		select
		nvl(count(1),0)
		from
		(select
		list.*
		from(
		select * from
		userboard_tb
		)list
		)
	</select>

</mapper>
